<a href="https://colab.research.google.com/github/fernandanascimentoweb/advogados/blob/main/google_colab_exemplos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [4]:
# cria sessao pysark , iniciar
spark = {
    SparkSession.builder
    .master('local')
    .appName('PySpark_01')
    .getOrCreate()
}

In [6]:
#criar um dataframe
df = spark.read.csv('/content/preços_exmp2.csv', header=True, inferSchema=True)

AttributeError: 'set' object has no attribute 'read'

In [7]:
#criar um dataframe
df = spark.read.csv('/content/preços_exmp2.csv', header=True, inferSchema=True)

AttributeError: 'set' object has no attribute 'read'

In [8]:
!pip install spark-excel

ERROR: Could not find a version that satisfies the requirement spark-excel (from versions: none)
ERROR: No matching distribution found for spark-excel

In [9]:
#criar um dataframe
df = spark.read.xlsx('/content/drive/MyDrive/07-29 - Produtos.xlsx', header=True, inferSchema=True)

AttributeError: 'set' object has no attribute 'read'

In [10]:
import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/07-29 - Produtos.xlsx')

In [11]:
#exibir
df.show()

AttributeError: 'DataFrame' object has no attribute 'show'

In [12]:
df = spark.createDataFrame(df)

df.show()

AttributeError: 'set' object has no attribute 'createDataFrame'

In [14]:
import pandas as pd

# Lendo Excel com pandas
pdf = pd.read_excel('/content/drive/MyDrive/07-29 - Produtos.xlsx')

# Convertendo para Spark DataFrame
df = spark.createDataFrame(df)

df.show()

AttributeError: 'set' object has no attribute 'createDataFrame'

In [15]:
from pyspark.sql import SparkSession

# Criar a sessão Spark corretamente
spark = SparkSession.builder \
    .appName("LeituraExcel") \
    .getOrCreate()

In [16]:
import pandas as pd

# Lendo Excel com pandas
pdf = pd.read_excel('/content/drive/MyDrive/07-29 - Produtos.xlsx')

# Convertendo para Spark DataFrame
df = spark.createDataFrame(pdf)

df.show()

+--------------+-------------------+-------+---------------------+------------------+
|      Produtos|Preço Base Original|   Tipo|Multiplicador Imposto|  Preço Base Reais|
+--------------+-------------------+-------+---------------------+------------------+
|        Tablet|             999.99|Produto|                  1.1|          1099.989|
| Pós Graduação|             4500.0|Serviço|                  1.3|            5850.0|
|       Celular|             899.99|Produto|                  1.1| 989.9890000000001|
|Passagem Aérea|              799.0|Serviço|                  1.3|            1038.7|
|    Computador|             3000.0|Produto|                  1.1|3300.0000000000005|
|           SPA|             480.48|Serviço|                  1.3|           624.624|
|  Corte Cabelo|               50.0|Serviço|                  1.3|              65.0|
+--------------+-------------------+-------+---------------------+------------------+

In [17]:
df.printSchema()

root
 |-- Produtos: string (nullable = true)
 |-- Preço Base Original: double (nullable = true)
 |-- Tipo: string (nullable = true)
 |-- Multiplicador Imposto: double (nullable = true)
 |-- Preço Base Reais: double (nullable = true)

In [19]:
df.toPandas().Isna().sum()

AttributeError: 'DataFrame' object has no attribute 'Isna'

In [20]:
df.toPandas().isna().sum()

Produtos                 0
Preço Base Original      0
Tipo                     0
Multiplicador Imposto    0
Preço Base Reais         0
dtype: int64

In [21]:
for coluna in df.columns:
  print(coluna, df.filter(df[coluna].isNull()).count())

Produtos 0
Preço Base Original 0
Tipo 0
Multiplicador Imposto 0
Preço Base Reais 0

In [22]:
df.columns

['Produtos',
 'Preço Base Original',
 'Tipo',
 'Multiplicador Imposto',
 'Preço Base Reais']

In [24]:
df.select('Produtos', 'Preço Base Original').show()

+--------------+-------------------+
|      Produtos|Preço Base Original|
+--------------+-------------------+
|        Tablet|             999.99|
| Pós Graduação|             4500.0|
|       Celular|             899.99|
|Passagem Aérea|              799.0|
|    Computador|             3000.0|
|           SPA|             480.48|
|  Corte Cabelo|               50.0|
+--------------+-------------------+

In [25]:
df.select(col('Produtos')).show()

+--------------+
|      Produtos|
+--------------+
|        Tablet|
| Pós Graduação|
|       Celular|
|Passagem Aérea|
|    Computador|
|           SPA|
|  Corte Cabelo|
+--------------+

In [26]:
df.columns

['Produtos',
 'Preço Base Original',
 'Tipo',
 'Multiplicador Imposto',
 'Preço Base Reais']

In [27]:
df.show()

+--------------+-------------------+-------+---------------------+------------------+
|      Produtos|Preço Base Original|   Tipo|Multiplicador Imposto|  Preço Base Reais|
+--------------+-------------------+-------+---------------------+------------------+
|        Tablet|             999.99|Produto|                  1.1|          1099.989|
| Pós Graduação|             4500.0|Serviço|                  1.3|            5850.0|
|       Celular|             899.99|Produto|                  1.1| 989.9890000000001|
|Passagem Aérea|              799.0|Serviço|                  1.3|            1038.7|
|    Computador|             3000.0|Produto|                  1.1|3300.0000000000005|
|           SPA|             480.48|Serviço|                  1.3|           624.624|
|  Corte Cabelo|               50.0|Serviço|                  1.3|              65.0|
+--------------+-------------------+-------+---------------------+------------------+

In [28]:
df.filter('Produtos="Celular"').show()

+--------+-------------------+-------+---------------------+-----------------+
|Produtos|Preço Base Original|   Tipo|Multiplicador Imposto| Preço Base Reais|
+--------+-------------------+-------+---------------------+-----------------+
| Celular|             899.99|Produto|                  1.1|989.9890000000001|
+--------+-------------------+-------+---------------------+-----------------+

In [29]:
df.show()

+--------------+-------------------+-------+---------------------+------------------+
|      Produtos|Preço Base Original|   Tipo|Multiplicador Imposto|  Preço Base Reais|
+--------------+-------------------+-------+---------------------+------------------+
|        Tablet|             999.99|Produto|                  1.1|          1099.989|
| Pós Graduação|             4500.0|Serviço|                  1.3|            5850.0|
|       Celular|             899.99|Produto|                  1.1| 989.9890000000001|
|Passagem Aérea|              799.0|Serviço|                  1.3|            1038.7|
|    Computador|             3000.0|Produto|                  1.1|3300.0000000000005|
|           SPA|             480.48|Serviço|                  1.3|           624.624|
|  Corte Cabelo|               50.0|Serviço|                  1.3|              65.0|
+--------------+-------------------+-------+---------------------+------------------+

In [31]:
df.filter(col('SPA') == 'Serviço').show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `SPA` cannot be resolved. Did you mean one of the following? [`Tipo`, `Produtos`, `Preço Base Reais`, `Preço Base Original`, `Multiplicador Imposto`].;
'Filter ('SPA = Serviço)
+- LogicalRDD [Produtos#0, Preço Base Original#1, Tipo#2, Multiplicador Imposto#3, Preço Base Reais#4], false

In [32]:
df.filter(col('SPA') == '').show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `SPA` cannot be resolved. Did you mean one of the following? [`Tipo`, `Produtos`, `Preço Base Reais`, `Preço Base Original`, `Multiplicador Imposto`].;
'Filter ('SPA = Serviço)
+- LogicalRDD [Produtos#0, Preço Base Original#1, Tipo#2, Multiplicador Imposto#3, Preço Base Reais#4], false

In [33]:
df.filter(col('SPA') == 480.48).show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `SPA` cannot be resolved. Did you mean one of the following? [`Tipo`, `Produtos`, `Preço Base Reais`, `Preço Base Original`, `Multiplicador Imposto`].;
'Filter ('SPA = 480.48)
+- LogicalRDD [Produtos#0, Preço Base Original#1, Tipo#2, Multiplicador Imposto#3, Preço Base Reais#4], false

In [34]:
df.filter(col('Produtos') == 'SPA').show()

+--------+-------------------+-------+---------------------+----------------+
|Produtos|Preço Base Original|   Tipo|Multiplicador Imposto|Preço Base Reais|
+--------+-------------------+-------+---------------------+----------------+
|     SPA|             480.48|Serviço|                  1.3|         624.624|
+--------+-------------------+-------+---------------------+----------------+

In [35]:
df.show()

+--------------+-------------------+-------+---------------------+------------------+
|      Produtos|Preço Base Original|   Tipo|Multiplicador Imposto|  Preço Base Reais|
+--------------+-------------------+-------+---------------------+------------------+
|        Tablet|             999.99|Produto|                  1.1|          1099.989|
| Pós Graduação|             4500.0|Serviço|                  1.3|            5850.0|
|       Celular|             899.99|Produto|                  1.1| 989.9890000000001|
|Passagem Aérea|              799.0|Serviço|                  1.3|            1038.7|
|    Computador|             3000.0|Produto|                  1.1|3300.0000000000005|
|           SPA|             480.48|Serviço|                  1.3|           624.624|
|  Corte Cabelo|               50.0|Serviço|                  1.3|              65.0|
+--------------+-------------------+-------+---------------------+------------------+

In [38]:
df.filter((col("Tipo")=="Serviço") & (col("Preço Base Original") > 50.0)).show()

+--------------+-------------------+-------+---------------------+----------------+
|      Produtos|Preço Base Original|   Tipo|Multiplicador Imposto|Preço Base Reais|
+--------------+-------------------+-------+---------------------+----------------+
| Pós Graduação|             4500.0|Serviço|                  1.3|          5850.0|
|Passagem Aérea|              799.0|Serviço|                  1.3|          1038.7|
|           SPA|             480.48|Serviço|                  1.3|         624.624|
+--------------+-------------------+-------+---------------------+----------------+

In [39]:
df.filter("Tipo").filter(col("Preço Base Original")> 500.show()

SyntaxError: invalid decimal literal (ipython-input-1177020278.py, line 1)

In [40]:
df.filter('Tipo = "Produtos"').filter(col('Preço Base Original')> 500.show()

SyntaxError: invalid decimal literal (ipython-input-3135655532.py, line 1)

In [44]:
df.filter('Tipo = "Produto"').filter(col('Preço Base Original')< 900).show()

+--------+-------------------+-------+---------------------+-----------------+
|Produtos|Preço Base Original|   Tipo|Multiplicador Imposto| Preço Base Reais|
+--------+-------------------+-------+---------------------+-----------------+
| Celular|             899.99|Produto|                  1.1|989.9890000000001|
+--------+-------------------+-------+---------------------+-----------------+

In [45]:
df.show()

+--------------+-------------------+-------+---------------------+------------------+
|      Produtos|Preço Base Original|   Tipo|Multiplicador Imposto|  Preço Base Reais|
+--------------+-------------------+-------+---------------------+------------------+
|        Tablet|             999.99|Produto|                  1.1|          1099.989|
| Pós Graduação|             4500.0|Serviço|                  1.3|            5850.0|
|       Celular|             899.99|Produto|                  1.1| 989.9890000000001|
|Passagem Aérea|              799.0|Serviço|                  1.3|            1038.7|
|    Computador|             3000.0|Produto|                  1.1|3300.0000000000005|
|           SPA|             480.48|Serviço|                  1.3|           624.624|
|  Corte Cabelo|               50.0|Serviço|                  1.3|              65.0|
+--------------+-------------------+-------+---------------------+------------------+

In [48]:
df.filter((col('Produtos') == 'Tablet') | (col('Multiplicador Imposto') == 1.3)).show()

+--------------+-------------------+-------+---------------------+----------------+
|      Produtos|Preço Base Original|   Tipo|Multiplicador Imposto|Preço Base Reais|
+--------------+-------------------+-------+---------------------+----------------+
|        Tablet|             999.99|Produto|                  1.1|        1099.989|
| Pós Graduação|             4500.0|Serviço|                  1.3|          5850.0|
|Passagem Aérea|              799.0|Serviço|                  1.3|          1038.7|
|           SPA|             480.48|Serviço|                  1.3|         624.624|
|  Corte Cabelo|               50.0|Serviço|                  1.3|            65.0|
+--------------+-------------------+-------+---------------------+----------------+

In [49]:
df.show()

+--------------+-------------------+-------+---------------------+------------------+
|      Produtos|Preço Base Original|   Tipo|Multiplicador Imposto|  Preço Base Reais|
+--------------+-------------------+-------+---------------------+------------------+
|        Tablet|             999.99|Produto|                  1.1|          1099.989|
| Pós Graduação|             4500.0|Serviço|                  1.3|            5850.0|
|       Celular|             899.99|Produto|                  1.1| 989.9890000000001|
|Passagem Aérea|              799.0|Serviço|                  1.3|            1038.7|
|    Computador|             3000.0|Produto|                  1.1|3300.0000000000005|
|           SPA|             480.48|Serviço|                  1.3|           624.624|
|  Corte Cabelo|               50.0|Serviço|                  1.3|              65.0|
+--------------+-------------------+-------+---------------------+------------------+

In [50]:
df.withColumn('Diferença', lit(col('Preço Base Reais')-col('Preço Base Original'))).show()

+--------------+-------------------+-------+---------------------+------------------+------------------+
|      Produtos|Preço Base Original|   Tipo|Multiplicador Imposto|  Preço Base Reais|         Diferença|
+--------------+-------------------+-------+---------------------+------------------+------------------+
|        Tablet|             999.99|Produto|                  1.1|          1099.989| 99.99900000000002|
| Pós Graduação|             4500.0|Serviço|                  1.3|            5850.0|            1350.0|
|       Celular|             899.99|Produto|                  1.1| 989.9890000000001| 89.99900000000014|
|Passagem Aérea|              799.0|Serviço|                  1.3|            1038.7|239.70000000000005|
|    Computador|             3000.0|Produto|                  1.1|3300.0000000000005|300.00000000000045|
|           SPA|             480.48|Serviço|                  1.3|           624.624|           144.144|
|  Corte Cabelo|               50.0|Serviço|                  1.3|              65.0|              15.0|
+--------------+-------------------+-------+---------------------+------------------+------------------+

In [51]:
df.show()

+--------------+-------------------+-------+---------------------+------------------+
|      Produtos|Preço Base Original|   Tipo|Multiplicador Imposto|  Preço Base Reais|
+--------------+-------------------+-------+---------------------+------------------+
|        Tablet|             999.99|Produto|                  1.1|          1099.989|
| Pós Graduação|             4500.0|Serviço|                  1.3|            5850.0|
|       Celular|             899.99|Produto|                  1.1| 989.9890000000001|
|Passagem Aérea|              799.0|Serviço|                  1.3|            1038.7|
|    Computador|             3000.0|Produto|                  1.1|3300.0000000000005|
|           SPA|             480.48|Serviço|                  1.3|           624.624|
|  Corte Cabelo|               50.0|Serviço|                  1.3|              65.0|
+--------------+-------------------+-------+---------------------+------------------+

In [52]:
df.withColumn('Juntas', concat('Produtos', col('Tipo'))).show()

+--------------+-------------------+-------+---------------------+------------------+--------------------+
|      Produtos|Preço Base Original|   Tipo|Multiplicador Imposto|  Preço Base Reais|              Juntas|
+--------------+-------------------+-------+---------------------+------------------+--------------------+
|        Tablet|             999.99|Produto|                  1.1|          1099.989|       TabletProduto|
| Pós Graduação|             4500.0|Serviço|                  1.3|            5850.0|Pós GraduaçãoServiço|
|       Celular|             899.99|Produto|                  1.1| 989.9890000000001|      CelularProduto|
|Passagem Aérea|              799.0|Serviço|                  1.3|            1038.7|Passagem AéreaSer...|
|    Computador|             3000.0|Produto|                  1.1|3300.0000000000005|   ComputadorProduto|
|           SPA|             480.48|Serviço|                  1.3|           624.624|          SPAServiço|
|  Corte Cabelo|               50.0|Serviço|                  1.3|              65.0| Corte CabeloServiço|
+--------------+-------------------+-------+---------------------+------------------+--------------------+

In [55]:
df.withColumn('fator', concat_ws(' - ','Multiplicador Imposto', 'Produtos')).show()

+--------------+-------------------+-------+---------------------+------------------+--------------------+
|      Produtos|Preço Base Original|   Tipo|Multiplicador Imposto|  Preço Base Reais|               fator|
+--------------+-------------------+-------+---------------------+------------------+--------------------+
|        Tablet|             999.99|Produto|                  1.1|          1099.989|        1.1 - Tablet|
| Pós Graduação|             4500.0|Serviço|                  1.3|            5850.0| 1.3 - Pós Graduação|
|       Celular|             899.99|Produto|                  1.1| 989.9890000000001|       1.1 - Celular|
|Passagem Aérea|              799.0|Serviço|                  1.3|            1038.7|1.3 - Passagem Aérea|
|    Computador|             3000.0|Produto|                  1.1|3300.0000000000005|    1.1 - Computador|
|           SPA|             480.48|Serviço|                  1.3|           624.624|           1.3 - SPA|
|  Corte Cabelo|               50.0|Serviço|                  1.3|              65.0|  1.3 - Corte Cabelo|
+--------------+-------------------+-------+---------------------+------------------+--------------------+